@model Player

<h2>Add Players</h2>


@*<form asp-action="AddPlayers" method="post" class="table">
    <p>
        <label asp-for="Name">Name: </label>
        <input asp-for="Name">
    </p>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>*@